.DS_Store

.env
.idea

*.pyc

*.log

lib/*
!lib/libcannonball.so_is_placed_here.txt

roms/*
!roms/roms.txt

build
dist
*.egg-info

# Matplotlib
fontList.cache

# Virtualenv folder. Change if you have a project virtualenv with another name
.venv

# Tests coverage
.coverage
coverage.xml